.Alert {
  --green-var: rgb(29, 129, 25);
  --red-var: rgb(145, 19, 19);
  padding: 15px;
  border-width: 3px;
  border-style: solid;
  font-size: 28px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  &.ok {
    color: var(--green-var);
    border-color: var(--green-var);
  }
  &.error {
    color: var(--red-var);
    border-color: var(--red-var);
  }
}
